@	using Microsoft.EntityFrameworkCore.Internal
@	using System.Collections;
	using ProjectRAM.Website.Models; 
@model 			Report

@{
    ViewData["Title"] = "Report";
}

<h1>Report - @Model.Id</h1>

<table class="table table-bordered">
    <tr>
        <th>Test</th>
        <th>Wynik</th>
        <th>Oczekiwane wyjście</th>
        <th>Otrzymane wyjście</th>
    </tr>
    @{
        int i = 0;
        foreach (var model in @Model.ReportRows)
        {
            <tr>
            <td>@Html.Raw(++i)</td>
            @if (model.Passed)
            {
                <td class="alert-success">
                    OK
                </td>
            }
            else
            {
                <td class="alert-danger">
                    Źle
                </td>
            }
                <td>
                    @if (!String.IsNullOrEmpty(model.ExpectedOutput))
                    {
                        @Html.Raw(model.ExpectedOutput)
                    }
                    else
                    {
                        @Html.Raw("-")
                    }
                </td>
                <td>
                    @if (!String.IsNullOrEmpty(model.GivenOutput))
                    {
                        @Html.Raw(model.GivenOutput)
                    }
                    else
                    {
                        @Html.Raw("-")
                    }
                </td>
            </tr>
        } 
    }
</table>

<div>
    <a asp-action="Details" asp-route-id="@Model.Task.Id">Wróc</a>
</div>
